.music__container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.music__container-border {
    display: flex;
    background-color: #262525;
    color: #fff;
    border-radius: 15px;
    width: 45vw;
    height: 35px;
    justify-content: center;
    align-items: center;
}
.music-name {
    font-family: "Ruda", sans-serif;
    margin-right: 20px;
}
.music-controls i {
    padding: 0 5px 0;
}

.music-controls i:hover {
    color: #0d7377;
}
