.feed-container {
    box-shadow: -3px 4px 11px 0px #0d7377;
    background-color: #262525;
    color: rgb(223, 219, 219);
    margin: 10px;
    padding: 8px;
    border-radius: 25px;
    height: 150px;
}
.feed__content-text {
    text-align: left;
}
.feed__content {
    display: flex;
    flex-direction: row;
}
.feed-main-username {
    display: flex;
    flex-direction: column;
}
.feed__main {
    padding: 8px;
    width: 100%;
}
.feed__main-username {
    display: flex;
    width: 100%;
}
.main-username__name {
    display: flex;
    flex: 1 1;
}
.username__name {
    font-weight: bolder;
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-family: "Ruda", "sans-serif";
}
.username__username,
.username__date {
    padding-left: 10px;
}

.feed__content-text {
    padding-top: 10px;
}
.feed__info-text {
    text-align: center;
}

.feed__info-text {
    display: flex;
    justify-content: space-evenly;
}
.feed__menu {
    display: flex;
    justify-content: space-evenly;
}

.feed-info-container {
    display: flex;
    margin: 5px;
}
.feed-info__label {
    color: rgb(159, 155, 155);
    padding-right: 8px;
}
.feed-info__count {
    font-weight: bolder;
}
