.dropdown-box-container {
    width: 120px;
    position: relative;
}
.dropdown-box{
    display: flex;
    background-color: rgb(238, 238, 227);
    border: 1px solid rgba(0, 0, 0, .25);
    width: 120px;
    position: absolute;
    left: -26;
    bottom: -114px;
}
.link-container {
    padding: 8px;
}
.dropdown-box--hidden{
    display: none;
}